<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

-   Collect exchange rate data using an API
-   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!pip install pandas
#!pip install requests

## Imports

Import any additional libraries you may need here.

In [2]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data. 

1.  Open the url : [https://api.exchangeratesapi.io/](https://api.exchangeratesapi.io?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork-23455645&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork-23455645&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ) and create a free account. 
2.  Once the account is created. You will get the Get the Free API key option on the top as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/getapi.png"/>

3.  Copy the API key and use in the url in Question 1.

### Call the API

 <b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [52]:
# Write your code here
url = "http://data.fixer.io/api/latest?access_key=d25d46121fe71dceba82e9af87985707"  #Make sure to change ******* to your API key.
data=requests.get(url)
dataj=data.json()
dataj

{'success': True,
 'timestamp': 1621716124,
 'base': 'EUR',
 'date': '2021-05-22',
 'rates': {'AED': 4.4743,
  'AFN': 94.531362,
  'ALL': 123.157296,
  'AMD': 634.083278,
  'ANG': 2.186918,
  'AOA': 789.958911,
  'ARS': 114.7463,
  'AUD': 1.575433,
  'AWG': 2.193234,
  'AZN': 2.075648,
  'BAM': 1.950139,
  'BBD': 2.460021,
  'BDT': 103.337662,
  'BGN': 1.956088,
  'BHD': 0.4592,
  'BIF': 2400.924373,
  'BMD': 1.218125,
  'BND': 1.620531,
  'BOB': 8.412955,
  'BRL': 6.537317,
  'BSD': 1.218344,
  'BTC': 3.2048149e-05,
  'BTN': 88.650564,
  'BWP': 12.989312,
  'BYN': 3.053688,
  'BYR': 23875.24998,
  'BZD': 2.455833,
  'CAD': 1.469778,
  'CDF': 2438.686689,
  'CHF': 1.093894,
  'CLF': 0.031829,
  'CLP': 878.268564,
  'CNY': 7.837665,
  'COP': 4564.314371,
  'CRC': 752.713266,
  'CUC': 1.218125,
  'CUP': 32.280312,
  'CVE': 110.697159,
  'CZK': 25.453758,
  'DJF': 216.485654,
  'DKK': 7.436148,
  'DOP': 69.421423,
  'DZD': 162.154,
  'EGP': 19.075,
  'ERN': 18.274299,
  'ETB': 52.245859,
  'EUR': 1,
  'FJD': 2.479498,
  'FKP': 0.866714,
  'GBP': 0.860835,
  'GEL': 4.025952,
  'GGP': 0.866714,
  'GHS': 7.046902,
  'GIP': 0.866714,
  'GMD': 62.386321,
  'GNF': 12022.894173,
  'GTQ': 9.403257,
  'GYD': 254.896106,
  'HKD': 9.45734,
  'HNL': 29.369467,
  'HRK': 7.509989,
  'HTG': 107.520211,
  'HUF': 348.566941,
  'IDR': 17501.654548,
  'ILS': 3.965996,
  'IMP': 0.866714,
  'INR': 88.814108,
  'IQD': 1780.898749,
  'IRR': 51289.153511,
  'ISK': 148.928433,
  'JEP': 0.866714,
  'JMD': 182.295475,
  'JOD': 0.863699,
  'JPY': 132.684314,
  'KES': 131.805758,
  'KGS': 102.055492,
  'KHR': 4963.859798,
  'KMF': 492.122926,
  'KPW': 1096.312642,
  'KRW': 1373.78966,
  'KWD': 0.366108,
  'KYD': 1.015362,
  'KZT': 522.255838,
  'LAK': 11499.100416,
  'LBP': 1860.077298,
  'LKR': 240.022724,
  'LRD': 209.060751,
  'LSL': 16.993309,
  'LTL': 3.596807,
  'LVL': 0.736832,
  'LYD': 5.433301,
  'MAD': 10.74204,
  'MDL': 21.5528,
  'MGA': 4577.714169,
  'MKD': 61.37592,
  'MMK': 2005.468789,
  'MNT': 3472.768512,
  'MOP': 9.744123,
  'MRO': 434.870415,
  'MUR': 49.582247,
  'MVR': 18.763682,
  'MWK': 962.31917,
  'MXN': 24.306528,
  'MYR': 5.044303,
  'MZN': 72.726608,
  'NAD': 16.993303,
  'NGN': 502.481102,
  'NIO': 42.981588,
  'NOK': 10.189799,
  'NPR': 141.840543,
  'NZD': 1.690163,
  'OMR': 0.46896,
  'PAB': 1.218344,
  'PEN': 4.555183,
  'PGK': 4.300438,
  'PHP': 58.373007,
  'PKR': 186.921737,
  'PLN': 4.497336,
  'PYG': 8181.723789,
  'QAR': 4.43524,
  'RON': 4.927929,
  'RSD': 117.237851,
  'RUB': 89.681534,
  'RWF': 1212.034374,
  'SAR': 4.568057,
  'SBD': 9.702385,
  'SCR': 20.001,
  'SDG': 502.481042,
  'SEK': 10.147475,
  'SGD': 1.621562,
  'SHP': 0.866714,
  'SLL': 12473.600402,
  'SOS': 712.603537,
  'SRD': 17.241388,
  'STD': 25258.777483,
  'SVC': 10.660887,
  'SYP': 1531.835147,
  'SZL': 17.005475,
  'THB': 38.20085,
  'TJS': 13.895348,
  'TMT': 4.275619,
  'TND': 3.313914,
  'TOP': 2.739609,
  'TRY': 10.253816,
  'TTD': 8.26807,
  'TWD': 34.064018,
  'TZS': 2825.443417,
  'UAH': 33.414682,
  'UGX': 4343.424062,
  'USD': 1.218125,
  'UYU': 53.810284,
  'UZS': 12893.853522,
  'VEF': 260471939367.07785,
  'VND': 28085.089976,
  'VUV': 132.05354,
  'WST': 3.064741,
  'XAF': 654.042859,
  'XAG': 0.044205,
  'XAU': 0.000648,
  'XCD': 3.292044,
  'XDR': 0.844528,
  'XOF': 654.133529,
  'XPF': 119.867885,
  'YER': 304.592599,
  'ZAR': 17.003825,
  'ZMK': 10964.591118,
  'ZMW': 27.382586,
  'ZWL': 392.236621}}

### Save as DataFrame

 <b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [85]:
# Turn the data into a dataframe
df=pd.DataFrame(dataj)
df

     success   timestamp base        date         rates
AED     True  1621716124  EUR  2021-05-22      4.474300
AFN     True  1621716124  EUR  2021-05-22     94.531362
ALL     True  1621716124  EUR  2021-05-22    123.157296
AMD     True  1621716124  EUR  2021-05-22    634.083278
ANG     True  1621716124  EUR  2021-05-22      2.186918
..       ...         ...  ...         ...           ...
YER     True  1621716124  EUR  2021-05-22    304.592599
ZAR     True  1621716124  EUR  2021-05-22     17.003825
ZMK     True  1621716124  EUR  2021-05-22  10964.591118
ZMW     True  1621716124  EUR  2021-05-22     27.382586
ZWL     True  1621716124  EUR  2021-05-22    392.236621

[168 rows x 5 columns]

In [87]:
# Drop unnescessary columns
df2=df[['rates']]
df2

            rates
AED      4.474300
AFN     94.531362
ALL    123.157296
AMD    634.083278
ANG      2.186918
..            ...
YER    304.592599
ZAR     17.003825
ZMK  10964.591118
ZMW     27.382586
ZWL    392.236621

[168 rows x 1 columns]

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [89]:
# Save the Dataframe
df2.to_csv("exchange_rates_1.csv",index=True)

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR    |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork-23455645&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork-23455645&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).